/* @import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #000b1c;
  /* background-image: url("../public/images/bg1c.jpg"); */
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
::-webkit-scrollbar-track-piece {
  width: 1px;
  background-image: linear-gradient(to bottom, white, rgb(196, 196, 196));
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Arvo", serif; */
  /* font-family: "Quintessential", cursive; */
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* .base-page-size {
  width: 100%;
  min-height: 100vh;
} */

.explore-page-hero {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-text {
  font-family: var(--title-font);
  font-size: 85px;
  margin: 0;
}

.sub-text {
  margin: 0;
  margin-bottom: 18px;
  text-align: center;
  max-width: 700px;
}

.nav {
  padding: 18px;
  position: fixed;
  z-index: 1;
  display: flex;
  top: 0;
  background-color: #000b1c85;
  height: 4rem;
  width: 100%;
  box-shadow: 0px 0px 2px gray;
  color: white;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.nav .mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: ; */
  width: 100vw;
  height: 75vh;
  background-color: hsl(216, 100%, 4%);
  margin-top: 4rem;
  color: white;
  box-shadow: 0 0px 1px gray;
  padding: 0 2rem 0 2rem;
}

.menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-content-mobile .menu-toggle .open {
  font-size: 2.8rem;
}
.mobile-blur {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000b1c75;
}
.nav h3 {
  margin-top: -0.6rem;
}
.nav-content {
  display: flex;
  color: white;
  list-style: none;
  align-items: center;
  margin-left: auto;
}
.nav-content .register-btn {
  position: relative;
  background-color: white;
  color: #000b1c;
  padding: 0.5rem 0.9rem;
  border-radius: 2rem;
}
.nav-content li {
  margin-left: 2rem;
  font-size: 0.8rem;
}
.nav-content .login-btn {
  margin-left: 26vw;
}
.nav-content-mobile {
  display: none;
  color: white;
  list-style: none;
  align-items: center;
  margin-left: auto;
}

.nav-content-mobile li {
  font-size: 1.2rem;
  padding: 1.5rem 0rem;
  text-align: center;
}
.nav-content-mobile .register-btn {
  background-color: white;
  color: #000b1c;
  padding: 0.7rem 28vw;
  border-radius: 2rem;
}
.reg-btn {
  background-color: hsl(217, 97%, 15%);
  padding: 0.7rem 8rem;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: inset 8.06px 6.25px 14.31px -1.79px hsla(216, 17%, 50%, 0.473),
    inset -12.09px -9.38px 14.31px -1.79px rgba(0, 0, 0, 0.3),
    14.17px 8.76px 10.73px -5.37px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.nav-content-mobile .open {
  font-size: 2rem;
}
.footer {
  margin-top: -0.1rem;
  padding: 18px;
  position: relative;
  /* z-index: 1; */
  display: flex;
  bottom: 0;
  background-color: #000b1c;
  height: 20rem;
  width: 100%;
  height: 6rem;
  color: white;
}
.footer-content {
  display: flex;
  color: white;
  list-style: none;
  align-items: center;
  margin-left: auto;
}
.footer-content li {
  margin-right: 2rem;
  font-size: 0.7rem;
}

.back-btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 18px;
  border-radius: 2rem;
  position: relative;
  background-color: hsl(217, 97%, 15%);
  box-shadow: inset 8.06px 6.25px 14.31px -1.79px hsla(216, 17%, 50%, 0.473),
    inset -12.09px -9.38px 14.31px -1.79px rgba(0, 0, 0, 0.3),
    14.17px 8.76px 10.73px -5.37px rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 18px;
  font-family: var(--title-font);
  cursor: pointer;
  /* z-index: 1; */
}

.hero_btn {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: center;
}
.hero-back-btn {
  display: inline-block;
  padding: 10px 10px;
  border-radius: 3rem;
  position: relative;
  background-color: white;
  box-shadow: inset 8.06px 6.25px 14.31px -1.79px rgba(0, 0, 0, 0.15),
    inset -12.09px -9.38px 14.31px -1.79px rgba(0, 0, 0, 0.3),
    24.17px 18.76px 10.73px -5.37px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin-left: -3rem;
}
.hero-back-toggle {
  display: inline-block;
  padding: 4px 30px;
  border-radius: 3rem;
  position: absolute;
  /* z-index: 1; */
  background-color: white;
  box-shadow: inset 8.06px 6.25px 14.31px -1.79px rgba(0, 0, 0, 0.15),
    inset -12.09px -9.38px 14.31px -1.79px rgba(0, 0, 0, 0.3),
    24.17px 18.76px 10.73px -5.37px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.nav-link {
  margin-right: 40px;
  font-size: 28px;
  font-family: var(--title-font);
  cursor: pointer;
}

.bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --clr: #b7c9e5;
}

.card {
  position: relative;
}

.card__content {
  margin-top: 3rem;
  text-align: center;
  position: relative;
  padding: 5em 5em;
  transition: transform 4s;
  transform-style: preserve-3d;
  height: 23rem;
  width: 50rem;
}
.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  border-radius: 3rem;
  margin-top: 1rem;
  background-color: hsl(216, 100%, 8%);
  box-shadow: inset 8.06px 6.25px 14.31px -1.79px rgba(0, 0, 0, 0.15),
    inset -12.09px -9.38px 14.31px -1.79px rgba(0, 0, 0, 0.3),
    24.17px 18.76px 10.73px -5.37px rgba(0, 0, 0, 0.6);
}

.card__front::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  transform: var(--level-one);
}

.card__title {
  font-size: 3rem;
  transform: var(--level-three);
  order: 0;
}

.card__subtitle {
  transform: var(--level-two);
  font-size: 1rem;
  opacity: 0.7;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}

.card__back {
  transform: rotateY(0.5turn);
  color: white;
  border-radius: 3rem;
  margin-top: 1rem;
  background-color: hsl(216, 100%, 8%);
  box-shadow: inset 8.06px 6.25px 14.31px -1.79px rgba(0, 0, 0, 0.15),
    inset -12.09px -9.38px 14.31px -1.79px rgba(0, 0, 0, 0.3),
    24.17px 18.76px 10.73px -5.37px rgba(0, 0, 0, 0.6);
}

.underline {
  box-shadow: -0.01px 4px 0 white;
}

.hero_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .card:hover .card__content {
  transform: rotateY(0.5turn);
} */

.card__content.is-flipped {
  transform: rotateY(180deg);
}

.about {
  min-height: 20rem;
  max-height: fit-content;
  position: relative;
  background-color: white;
  margin-top: -0.1rem;
  padding: 2rem;
  color: #000b1c;
  /* margin-bottom: 7rem; */
}
.about p {
  margin-bottom: 10rem;
}
/* curves */
.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1665740462 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  /* z-index: -1; */
}

.custom-shape-divider-bottom-1665740462 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1665740462 .shape-fill {
  fill: #000b1c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1665740462 svg {
    width: calc(100% + 1.3px);
    height: 164px;
  }
}
/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom svg {
    width: calc(100% + 1.3px);
    height: 164px;
  }
}

.custom-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  /* z-index: -1; */
}

.custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider .shape-fill {
  fill: #000b1c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider svg {
    width: calc(100% + 1.3px);
    height: 164px;
  }
}
@media screen and (max-width: 767px) {
  .card__content {
    height: 25rem;
    width: 20rem;
    margin-top: 1.5rem;
  }
  .card__title {
    font-size: 2rem;
  }

  .card__subtitle {
    font-size: 1rem;
  }
  .nav-content {
    display: none;
  }
  .nav-content-mobile {
    display: flex;
  }
  .nav {
    box-shadow: 0px 0px 5px gray;
  }
}
/* Sign UP CSS */
.sign-up-container {
  background-color: white;
  margin: 4rem;
  width: 40vw;
  margin-top: -2rem;
  color: hsl(216, 100%, 8%);
  height: 30rem;
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: gray; */
  box-shadow: inset 3.11px 2.52px 5.63px -0.7px rgba(0, 0, 0, 0.15),
    inset -4.67px -3.77px 5.63px -0.7px rgba(0, 0, 0, 0.3),
    9.33px 7.55px 4.22px -2.11px rgba(0, 0, 0, 0.6);
  position: relative;
}
.sign-up-main-container {
  background-color: white;
}
.nav-bg {
  height: 4rem;
  background-color: hsl(216, 100%, 8%);
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container h2 {
  margin-bottom: 1rem;
}
.sign-up-input {
  box-shadow: inset 2.18px 1.76px 3.94px -0.49px rgba(0, 0, 0, 0.15),
    inset -3.27px -2.64px 3.94px -0.49px rgba(0, 0, 0, 0.3),
    6.53px 5.28px 2.95px -1.48px rgba(0, 0, 0, 0.6);
  border-radius: 2rem;
  height: 2.5rem;
  padding: 0 2rem;
  width: 20rem;

  outline: none;
  border: none;
  cursor: pointer;
}
.register-button {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
  /* padding: 0.5rem 9rem; */
  margin-left: 0.7rem;
  height: 2.5rem;
  width: 23.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  position: relative;
  background-color: hsl(217, 97%, 15%);
  box-shadow: inset 8.06px 6.25px 14.31px -1.79px hsla(216, 17%, 70%, 0.473),
    inset -12.09px -9.38px 14.31px -1.79px rgba(0, 0, 0, 0.3),
    14.17px 8.76px 10.73px -5.37px rgba(117, 117, 117, 0.6);
  color: white;
  font-size: 18px;
  font-family: var(--title-font);
  cursor: pointer;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.input-icon-container {
  box-shadow: inset 2.18px 1.76px 3.94px -0.49px rgba(0, 0, 0, 0.15),
    inset -3.27px -2.64px 3.94px -0.49px rgba(0, 0, 0, 0.3),
    6.53px 5.28px 2.95px -1.48px rgba(0, 0, 0, 0.6);
  border-radius: 3.5rem;
  height: 2.5rem;
  color: hsl(217, 97%, 15%);
  /* padding: 0 2rem; */
  width: 2.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.link-span {
  color: hsl(217, 97%, 15%);
}
.label {
  margin-bottom: -1rem;
  text-align: left;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .sign-up-container {
    width: 90vw;
    height: 33rem;
    margin-top: -1rem;
  }

  .sign-up-input {
    border-radius: 2rem;
    height: 2.8rem;
    padding: 0 1rem;
    width: 65vw;
  }
  .register-button {
    margin-bottom: 2rem;
    margin-left: 0rem;
    height: 2.9rem;
    width: 78vw;
  }
  .form-container h2 {
    margin-bottom: 0rem;
  }
}

.dash-nav {
  padding: 18px;
  position: fixed;
  z-index: 1;
  display: flex;
  top: 0;
  background-color: #000b1c;
  height: 4rem;
  width: 100%;
  box-shadow: 0px 0px 2px gray;
  color: white;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.dash-nav h3 {
  margin-top: -0.6rem;
  margin-left: 0rem;
}
.dash-nav-content {
  display: flex;
  color: white;
  list-style: none;
  align-items: center;
  margin-left: auto;
}

.dash-nav-content li {
  margin-right: 0rem;
  font-size: 0.8rem;
}
.dash-options-container h1 {
  margin-bottom: 1rem;
}
.dash-tile {
  height: 10rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 2px 2px rgb(204, 203, 203);
  border-radius: 1rem;
}

.dash-tile.shift {
  margin: 0.5rem 0.8rem;
}
.dash-tile.search {
  background-color: hsl(216, 100%, 95%);
}
.dash-tile.referral {
  background-color: hsl(216, 100%, 90%);
}
.dash-tile.update {
  background-color: hsl(216, 100%, 85%);
}
.dash-tile.profile {
  background-color: hsl(216, 100%, 80%);
}
.dash-option-title {
  font-size: 1.1rem;
  text-align: center;
  color: #000b1c;
}
.dash-option-content {
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: center;
}
.dash-options-container {
  padding: 2rem 1.2rem 2rem 1.6rem;
}
