/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"); */

.forms-input {
  position: relative;
  width: 100%;
  z-index: 0;
  /* margin: 0.8rem 0 0.8rem 0; */
  margin-bottom: 1rem;
}

.forms-input input::placeholder {
  opacity: 0;
}

.forms-input input {
  width: 18rem;
  height: 3rem;
  font-size: 0.8rem;
  padding: 10px;
  outline: none;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 5px;
}

.forms-input label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: black;
  letter-spacing: 1px;
  transition: 0.1s;
  font-weight: 400;
}

.forms-input input:focus + label,
.forms-input input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 0.6rem;
  color: hsl(39, 77%, 53%);
  background: #fff;
  padding: 3px;
  border-radius: 8px;
}

.forms-input input:focus {
  outline: 1.2px solid hsl(39, 77%, 73%);
}
.forms-input .pass-icon {
  position: absolute;
  font-size: 1.1rem;
  top: 30%;
  left: 90%;
}
@media screen and (width < 321px) {
  .forms-input input {
    width: 16rem;
  }
}
