.newFlex {
  display: flex;
  width: 90vw;
  height: 100vh;
}

.keyNotification {
  width: 75vw;
  padding-top: 6.5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.instruction-items {
  padding-left: 22rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.inputfield-con {
  margin-top: 2rem;
  margin-left: -8rem;
}
.dash-tile-sub {
  padding-top: 6rem;
}
.flexTwo {
  width: 98vw;
  padding-left: 19rem;
}
.marginOne {
  margin-left: -3.5rem;
}
@media screen and (max-width: 767px) {
  .flexTwo {
    padding-left: 6rem;
  }
  .marginOne {
    margin-left: -0.9rem;
  }
  .inputfield-con {
    margin-left: -0.6rem;
  }
  .keyNotification {
    width: 100vw;
    height: 5rem;
    padding-top: 6.5rem;
    padding-left: 5rem;
  }
  .instruction-items {
    padding-left: 2.5rem;
    padding-right: 1rem;
  }
  .thirdFlex {
    width: 52vw;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 19vw;
    margin-top: 36rem;
    flex-direction: column;
  }
}
