.referral-input {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}
.referral-input input {
  width: 8rem;
}
.referral-input button {
  background-color: black;
  color: white;
  border: 2px solid black;
}
